black
click
contourpy
coverage
cycler
flake8
fonttools
iniconfig
isort
kiwisolver
matplotlib
mccabe
mypy-extensions
numpy
packaging
pandas
pathspec
Pillow
platformdirs
pluggy
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
pytz
six
tzdata
